body {
    font-family: caros light;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: black;
  }
  .container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    background: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  }

  .left-section {
    background-image: url("../../Public/img/signup.png");
    background-color: black;
    background-repeat: no-repeat, repeat;
    background-position: center;
    color: white;
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-right: 50px;
  }
  form {
    margin: 10px;
    padding: 10px 20px;
    
  }
  input[type="email"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  button {
    background-color: black;
    color: white;
    margin: 10px;    
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  .divider {
    margin: 20px 0;
    text-align: center;
  }
  .social-login {
    text-align: center;
    width: 60%;
  }
  .social-login button {
    margin: 10px;
    padding: 10px 20px;
  }
  .logo img {
    height: 50px;
  }
  .motto h1{
  padding: 30px;
  text-align: center;
  }

